<%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    
    <main class="flex-shrink-0">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-8 mx-auto text-center">
            <h1 class="display-4 mb-3 text-danger">Get Things Done with To-Do App</h1>
            <p class="lead mb-5">
              To-Do App helps you stay organized and on top of your tasks.
            </p>
            <a href="/login" class="btn btn-lg btn-primary">Sign In</a>
            <a href="/register" class="btn btn-lg btn-primary">Sign Up Now</a>
          </div>
        </div>
      </div>

      <div class="container py-5">
        <div class="row">
          <div class="col-md-6 mx-auto">
            <h2>Features</h2>
            <ul>
              <li>Organize your tasks</li>
              <li>Track your progress</li>
            </ul>
          </div>
          <div class="col-md-6 mx-auto">
            <h2>Pricing</h2>
            <p>
              Sign up now and get 30 days of premium features for free. After
              that, choose a plan that works for you.
            </p>
            <ul>
              <li>Basic: Free</li>
              <li>Premium: $9.99/month</li>
              <li>Business: $19.99/month</li>
            </ul>
            <a href="#" class="btn btn-lg btn-primary mt-3">Sign Up Now</a>
          </div>
        </div>
      </div>
    </main>

    <%- include("partials/footer.ejs") %>
  </body>
</html>
