<%- include("partials/head.ejs") %>
  <body>
    <%- include("partials/navbar.ejs") %>
    <div class="container mt-5">
      <h1 class="mb-4"><%=name %>'s To-Do List</h1>
      <div class="row">
        <div class="col-md-6">
          <h3>Current To-Dos:</h3>
          <ul class="list-group">
            <% for (var i = 0; i < todos.length; i++) { %>
              <li
                class="list-group-item d-flex justify-content-between align-items-center"
              >
              <%= todos[i].title %>
              <div>
                <a href="/todos/complete/<%=todos[i].id %>" type="button" class="btn btn-success" id="complete">✔</a>
                <a href="/todos/delete/<%=todos[i].id %>" type="button" class="btn btn-danger" id="delete">🗑️</a>
              </div>
              </li>
            <% } %>
          </ul>
        </div>
        <div class="col-md-6">
          <h3>Add New To-Do:</h3>
          <form method="POST">
            <div class="mb-3">
              <label for="todoInput" class="form-label">To-Do Item:</label>
              <input type="text" class="form-control" id="todoInput" name="title" required="true" />
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
          </form>
        </div>
        <div class="pt-4 col-md-6">
          <h3>Completed To-Dos:</h3>
          <ul class="list-group" id="completedTodos">
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Example Completed To-Do Item 1
              <button type="button" class="btn btn-secondary">Mark Incomplete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <%- include("partials/footer.ejs") %>
  </body>
</html>
